#format options
--ifdef outdent
--patternlet inline
--trimwhitespace nonblank-lines
--typeblanklines preserve
--wraparguments preserve
--wrapcollections before-first
# file options
--exclude **/Generated,vendor
# rules
--disable trailingCommas,trailingClosures,unusedArguments,wrapMultilineStatementBraces