#format options
--ifdef outdent
--patternlet inline
--trimwhitespace nonblank-lines
--typeblanklines preserve
--wraparguments preserve
--wrapcollections before-first
# file options
--exclude **/Generated
# rules
--disable sortedImports,trailingCommas,trailingClosures,unusedArguments,wrapMultilineStatementBraces