<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>desktopident</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MatomoHost</key>
	<string>example.org</string>
	<key>MatomoSiteID</key>
	<string>$(MATOMO_SITE_ID)</string>
	<key>SentryHost</key>
	<string>o1248831.ingest.sentry.io</string>
	<key>SentryProjectID</key>
	<string>$(SENTRY_PROJECT_ID)</string>
	<key>SentryPublicKey</key>
	<string>$(SENTRY_PUBLIC_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BundesSans-DTP-Regular.otf</string>
		<string>BundesSans-DTP-Bold.otf</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
	</array>
</dict>
</plist>
